
a:link{
    margin-top: 2rem;
    text-decoration: none;
    color: green;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;
}
a:hover{
    color: yellow;
    text-decoration: none;
}
.header-div{
    display: flex;
    background: whitesmoke;
}
.logo{
    width: 20%;
    padding: 2rem;
}
.header-links{
    padding: 2rem;
}